.site-footer {
  background-color: rgb(58, 73, 55);
    color: #FFF;
    padding: .5rem 0;
    text-align: center;
    position: relative;
    bottom: 0;

    &__text {
      display: block;
      margin-bottom: 1rem;
      font-weight: 200;
    }
  }